

<div>
  <h1> <img id="bradley" src="../assets/images/bradleyfinal.gif" alt=""> </h1>
  <h2>Thank you so much for visiting the Super Tight dot xyz and may all of your wild dreams come true!</h2>
</div>

<div class = "menu">
    <a routerLink="/home" routerLinkActive="active">HOME</a>
    <a href="https://supertight.myshopify.com/collections/all" routerLinkActive="active">SHOP</a>
    <a routerLink="/music" routerLinkActive="active">MUSIC</a>
</div>
   
  
  <router-outlet></router-outlet> 


<footer id = "footer"> inquiries @ (318)791-1403 </footer>

