<div style="align-content:center;">
  <h3>Super Tight Recording Artist Chandler Sharp's single <strong>IKYM/TMTG</strong> available now on all streaming services!</h3>
  <img src="../../../assets/images/music/Ikymtmtg-art.jpg" alt="">
  <div style="align-content:center; padding-top: 15px;">
    <a href="https://geo.itunes.apple.com/us/album/ikym-tmtg-single/1409920811?mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;width:158px;height:45px;"></a>
    <iframe src="https://open.spotify.com/embed/album/4pEDdnxeWGfMteJHlvC6ER" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>

  <img src="../../../assets/images/music/supertightrecordsblock.png" alt="">

  <img src="../../../assets/images/music/tmtg-but-bigger.jpg" alt="">
</div>
